target/*
!target/abada-engine-*.jar
**/node_modules/
**/dist/
**/target/
.git/
.codebuddy/
build/
.idea/
.github/
docs/
data/
assets/
.run-tests/
HELP.md
.gitattributes
.gitignore
README.md
Dockerfile
logs/
