/* Coolors Exported Palette - https://coolors.co/205081-4ab0d9-f4a300-fdf8f4-1a1a1a */

/* CSS HEX */
--yinmn-blue: #205081ff;
--process-cyan: #4ab0d9ff;
--orange-web: #f4a300ff;
--isabelline: #fdf8f4ff;
--eerie-black: #1a1a1aff;

/* CSS HSL */
--yinmn-blue: hsla(210, 60%, 32%, 1);
--process-cyan: hsla(197, 65%, 57%, 1);
--orange-web: hsla(40, 100%, 48%, 1);
--isabelline: hsla(27, 69%, 97%, 1);
--eerie-black: hsla(0, 0%, 10%, 1);

/* SCSS HEX */
$yinmn-blue: #205081ff;
$process-cyan: #4ab0d9ff;
$orange-web: #f4a300ff;
$isabelline: #fdf8f4ff;
$eerie-black: #1a1a1aff;

/* SCSS HSL */
$yinmn-blue: hsla(210, 60%, 32%, 1);
$process-cyan: hsla(197, 65%, 57%, 1);
$orange-web: hsla(40, 100%, 48%, 1);
$isabelline: hsla(27, 69%, 97%, 1);
$eerie-black: hsla(0, 0%, 10%, 1);

/* SCSS RGB */
$yinmn-blue: rgba(32, 80, 129, 1);
$process-cyan: rgba(74, 176, 217, 1);
$orange-web: rgba(244, 163, 0, 1);
$isabelline: rgba(253, 248, 244, 1);
$eerie-black: rgba(26, 26, 26, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);
$gradient-right: linear-gradient(90deg, #205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);
$gradient-bottom: linear-gradient(180deg, #205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);
$gradient-left: linear-gradient(270deg, #205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);
$gradient-top-right: linear-gradient(45deg, #205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);
$gradient-bottom-right: linear-gradient(135deg, #205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);
$gradient-top-left: linear-gradient(225deg, #205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);
$gradient-bottom-left: linear-gradient(315deg, #205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);
$gradient-radial: radial-gradient(#205081ff, #4ab0d9ff, #f4a300ff, #fdf8f4ff, #1a1a1aff);